<!DOCTYPE html>
{% extends "my_app/home.html" %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game info</title>
</head>
<body  background="{% static 'cool_gaming_background_4k_by_skullbreaker000_dehn7hz-fullview.jpg' %}" style="background-size: cover;" >
<!--<div style="text-align: center; display: flex; padding-left:38%; padding-top:7%">-->
<!--    <div   style="text-align: center;   background-color: white; ">-->
<div style="padding-top :7%;">
  <div class= "col-md-4 offset-md-4" style="border : solid black 5px ; text-align:center ; background-color :white;
 opacity: 0.8 ;" >
    <div style="display: flex; flex-direction: column;">
        <div style="padding-left: 2%;">
        <form action="{% url 'ginfo' gid=gid %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
               {{ form.as_p }}
            <input  name="rid" type="hidden" value= {{rid}}/>
            <input  class="btn btn-secondary" type="submit" value="send" onclick="return confirm('Are you sure data is ok ?')">
                <a href="{% url 'del/ps' gid=gid %}" class="btn btn-danger"> Delete</a>
          </form>
        </div>
    </div>
  </div>
</div>
<!--    </div>-->
<!--</div>-->
</body>

{% endblock content %}
</html>